*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/run.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

nav {
    background-color: #801E62;
    opacity: 0.9;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
   height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 60px;
}

nav a:hover{
    background-color: #EAA120;
    transition: 0.3s;
}
/*footer*/
footer{
    background-color: rgb(22, 22, 22);
    opacity: 0.9;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: #801E62;
    opacity: 0.9;
}

/* Hover Effect on Social Media Icons*/

.socialIcons a:hover{
    background-color: #EAA120;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
    list-style-type: none;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}